body {
    margin: 3%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color:#4A2E2B;
    background-color: #FFE4C4;
    border-color:#C44A3A;
}

main {
    width: 80%;
}

#header{
    display: flex;
    align-items: center;
    gap: 5%;
}

#header-image {
    background-color: bisque;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

#chat-box {
    background-color: #D46D25 ;
    height: 60vh; 
    width: 80vw; 
    overflow-y: scroll; 
    border-style:solid; 
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

#input-container{
    margin-top: 3%;
    width: 80vw; 
}

#user-input{
    width: 100%;
    height: auto;
    border: 2px solid;
    border-style:solid;
    border-radius: 6px;
    font-family: inherit;
}

#ask-button {
    
}

#message-bot {
    margin: 3%;
    padding: 2%;
    width:50%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    background-color: bisque;
}

#message-user {
    margin: 3%;
    padding: 2%;
    width:50%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    background-color: bisque;
    margin-left: auto;
}

#message-role {
    font-weight: bold;
    margin-bottom: 1%;
}

#message-text {
    width:100%;
}

#pending-status-message {
    /* display: none; */
    margin: auto;
    animation: flash 1.5s infinite;
    order:9999;
}

/* Animation for flashing text in "Awaiting Server Response Message" */
@keyframes flash {
    0%, 100% {
        opacity: 0, 1;
    }
    50% {
        opacity: 0;
    }
}
